# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

# misc
.DS_Store

# umi
.umi
.umi-production
.env.local

# ide
/.vscode
/.idea

# 静态构建文件不上传
dist
y-blog
